<div class="container">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h2>Keys Table</h2>
        <a [routerLink]="'/keys/create'" class="btn btn-primary">Create Key</a>
    </div>
    <div class="row fw-bold border-bottom pb-2">
        <div class="col">ID</div>
        <div class="col">Key Name</div>
        <div class="col">Key Value</div>
        <div class="col">Username</div>
        <div class="col">Created At</div>
        <div class="col text-center">Actions</div>
    </div>
    
    
    @for (key of (keys$ | async); track key) {
        <div class="row border-bottom py-2 align-items-center">
            <div class="col">{{ key.id }}</div>
            <div class="col">{{ key.keyName }}</div>
            <div class="col">{{ key.keyValue }}</div>
            <div class="col">{{ key.user.username }}</div>
            <div class="col">{{ key.createdAt.toString() }}</div>
            <div class="col text-center">
                
                <!-- Button Edit -->
                <a [routerLink]="['/keys/', key.id]" class="btn btn-sm btn-outline-warning me-1">
                    <i class="bi bi-pencil"></i>
                </a>
                <!-- Button Delete -->
                <a (click)="delete(key.id)" class="btn btn-outline-danger me-1">
                    <i class="bi bi-trash"></i>
                </a>
            </div>
        </div>
    }
</div>

