<div class="container mt-4">
    
    
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2 class="mb-3 text-center">{{ isEdit ? 'Edit Key' :  'Add Key' }}</h2>
        

        <div class="mb-3">
            <label for="keyName" class="form-label">Key Name</label>
            <input formControlName="keyName" type="text" class="form-control" id="keyName" required>
            @if (form.controls['keyName'].errors && form.controls['keyName'].touched) {
                <span class="text-red-400">Key Name is required</span>
            }
        </div>

        <!-- Key Value -->
        <div class="mb-3">
            <label for="keyValue" class="form-label">Key Value</label>
            <input formControlName="keyValue" type="text" class="form-control" id="keyValue" required>
            @if (form.controls['keyValue'].errors && form.controls['keyValue'].touched) {
                <span class="text-red-400">Key Value is required</span>
            }
        </div>

         <!-- User Selection -->
         <div class="mb-3">
            <label for="userId" class="form-label">Select User</label>
            <select formControlName="userId" class="form-select" id="userId" required>
                <option value="" disabled selected>Select a user</option>
                @for (user of (users$ | async); track user) {
                    <option [value]="user.id">{{ user.username }}</option>
                }
            </select>
            @if (form.controls['userId'].errors && form.controls['userId'].touched) {
                <span class="text-red-400">User is required</span>
            }
        </div>

        <div class="d-flex justify-content-end">
            <a [routerLink]="'/keys'" class="btn btn-secondary me-2">Cancel</a>
            <button class="btn btn-primary">Submit</button>
        </div>

       
    </form>
</div>
